body{
    margin: .5rem;
    color: white;
    background-color: #93b8d7;
}

body nav a{
    color: white;
    font-size: 2.5rem;
    margin-right: .5em;
}

body div#social-links{
    display: none;
}

main{
    text-align: center;
    font-family: "Kaushan Script", fantasy;
    margin-top: 23vh;
}

main h1{
    font-size: 4rem;
}

main h2{
    font-size: 2rem;
    margin-top: 2em;
}

footer{
    display: none;
}

@media (min-width: 598px){
    body div#hamburger-menu{
        display: none;
    }
    
    body div#social-links{
        display: block;
    }
}

@media (min-width: 768px){
    html{
        height: 100%;
    }

    body{
        background-image: url('../img/splash-md.jpg');
        background-position: center;
        background-size: cover;
    }
    
    footer{
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    main{
        text-shadow: 1px 1px #153c43;
    }
}

@media (min-width: 992px){
    body{
        background-image: url('../img/splash-lg.jpg');
    }

    body nav a{
        font-size: 1.5rem;
    }

    main h1{
        font-size: 5rem;
    }
    
    main h2{
        font-size: 3rem;
    }
}

@media (min-width: 1200px){
    body{
        background-image: url('../img/splash-xl.jpg');
    }
}